{% extends "master.html" %}
{% block content %}
	<div id="fullContentPaneWrapper">
			<div class="fullContentPane_Content">
				<h1>
					About PDOT
				</h1>
				<p>
					PDOT (Predict-o-tron) is a basketball analysis tool developed by me, Gregory Fein.  The project began on 12/18/2012.  
					I made this so I can predict sports, make money, and fuck bitches.  Order irrelevant.<br><br>
					<span style="font-size:0.6em;">Please work.</span>
				</p>
				<hr>
				<h1>
					Known Bugs
				</h1>
				<p>
					<ul>
						<li>
						If a player has been traded, then there appears to be an extra row for that year.  THe stat lines are identical, but the UI (and search criteria)
						need to understand the difference.
						</li>
						
						<li>
						Perhaps implement an ORM layer and get rid of the stupid select statements.
						</li>
						
						<li>
						Make D3 not look like butt.
						</li>
						
						<li>
						Clean up database utilities area.  Make it user friendly and have purpose.
						</li>
						
						<li>
						Begin work on the "constant values" of the engine, such as player performance spectrum for year-after-year.
						</li>
						
					</ul>
				</p>
			</div>
		</div>
{% endblock %}