{% extends "master.html" %}
{% block content %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#pingResult').focus(function(){
				$('#pingResult').blur();
			});
			
			pageLoad_primeAllDatabases();
			pageLoad_scrapeBBRPlayers();
		});
	</script>
	
	Ping Time:<br>
	<input type="text" id="pingResult" class="inputTextBox">
	<input type="button" value="Ping" class="submitButton" onclick="testAjax()">
	
	<br>
	<hr>
	<br>
	
	Prime All Databases:<br>
	<input type="button" value="Prime All Databases" class="submitButton" onclick="primeAllDatabases()">
	<img src="../img/gifs/loadingCircle.gif" id="primeDatabases_loadingGif" width="14" height="14" />		
	<br>
	<span style="padding-left:10px;font-size:0.8em; font-style:italic;" id="primeResult"></span>
	
	<br>
	<hr>
	<br>
	
	Scrape BBR Players:<br>
	<input type="button" value="Scrape BBR Players" class="submitButton" onclick="scrapeBBRPlayers()">
	<img src="../img/gifs/loadingCircle.gif" id="scrapeBBRPlayers_loadingGif" width="14" height="14" />		
	<br>
	<span style="padding-left:10px;font-size:0.8em; font-style:italic;" id="scrapeBBRPlayersResult"></span>
	
	<br>
	<hr>
	<br>
	
	<h1> To Do List</h1>
	Add configuration table to database for:
	<ul>
		<li>Last Data Scrape</li>
		<li>Debug Mode (and switching it)</li>
		<li>Amount of data</li>
		<li>Etc.?</li>
	</ul>	
{% endblock %}