{% extends "master.html" %}
{% block content %}
	<div id="fullContentPaneWrapper">
			<div class="fullContentPane_Content">
				<h1>
					Title
				</h1>
				<p>
					Hello world #11!<br><br>
					Hello world #12!<br><br>
					Hello world #13!<br><br>
					Hello world #14!<br><br>
					Hello world #15!<br><br>
					Hello world #16!<br><br>
					Hello world #17!
				</p>
		
				<br>
	
				<h1>
					Title
				</h1>
				<p>
					Hello world #21!<br><br>
					Hello world #22!<br><br>
					Hello world #23!<br><br>
					Hello world #24!<br><br>
					Hello world #25!<br><br>
					Hello world #26!<br><br>
					Hello world #27!
				</p>
			</div>
		</div>

		<div id="outerDividerLine"> &nbsp; </div>
	
		<div id="splitContentPaneWrapper">
			<table width="100%">
				<tr>
					<td>
						<div class="splitContentPane_Left">
							<h1>
								Title
							</h1>
							<p>
								Hello world #11!<br><br>
								Hello world #12!<br><br>
								Hello world #13!<br><br>
								Hello world #14!<br><br>
								Hello world #15!<br><br>
								Hello world #16!<br><br>
								Hello world #17!
							</p>
						</div>
					</td>
					<td width="10px"> &nbsp; </td>
					<td>
						<div class="splitContentPane_Right">
							<h1>
								Title
							</h1>
							<p>
								Hello world #21!<br><br>
								Hello world #22!<br><br>
								Hello world #23!<br><br>
								Hello world #24!<br><br>
								Hello world #25!<br><br>
								Hello world #26!<br><br>
								Hello world #27!
							</p>
						</div>
					</td>
				</tr>
			</table>
		</div>	

		<div id="outerDividerLine"> &nbsp; </div>
	
		<div id="staggerContentPaneWrapper">
			<table width="100%">
				<tr>
					<td>
						<div class="staggerContentPane_Max">
							<h1>
								Title
							</h1>
							<p>
								Hello world #11!<br><br>
								Hello world #12!<br><br>
								Hello world #13!<br><br>
								Hello world #14!<br><br>
								Hello world #15!<br><br>
								Hello world #16!<br><br>
								Hello world #17!
							</p>
						</div>
					</td>
					<td width="10px"> &nbsp; </td>
					<td>
						<div class="staggerContentPane_Min">
							<h1>
								Title
							</h1>
							<p>
								Hello world #21!<br><br>
								Hello world #22!<br><br>
								Hello world #23!<br><br>
								Hello world #24!<br><br>
								Hello world #25!<br><br>
								Hello world #26!<br><br>
								Hello world #27!
							</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<div id="outerDividerLine"> &nbsp; </div>
	
		<div id="staggerContentPaneWrapper">
			<table width="100%">
				<tr>
					<td>
						<div class="staggerContentPane_Min">
							<h1>
								Title
							</h1>
							<p>
								Hello world #11!<br><br>
								Hello world #12!<br><br>
								Hello world #13!<br><br>
								Hello world #14!<br><br>
								Hello world #15!<br><br>
								Hello world #16!<br><br>
								Hello world #17!
							</p>
						</div>
					</td>
					<td width="10px"> &nbsp; </td>
					<td>
						<div class="staggerContentPane_Max">
							<h1>
								Title
							</h1>
							<p>
								Hello world #21!<br><br>
								Hello world #22!<br><br>
								Hello world #23!<br><br>
								Hello world #24!<br><br>
								Hello world #25!<br><br>
								Hello world #26!<br><br>
								Hello world #27!
							</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}