<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>
		PDOT - Predict-o-Tron
	</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="../js/jquery-pdot.js" ></script>		
</head>

<body>
<div id="fullWrapper">
	<div id="headerWrapper">
		<div id="headerContainer">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td width="75%">
						<div class="headerContainer_Left" align="left">
							{% block headerLeft %}
							<table width="100%" border="0" cellspacing="2" cellpadding="0">
							<tr>
								<td width="75">
									<img src="../img/pdot_new_small.png">
								</td>
								<td align="left" valign="bottom">
									<h2>PDOT v.1.0</h2>									
							</td>
							</tr>
							</table>
							{% endblock %}
						</div>
					</td>
					<td width="25%" valign="bottom" align="right">
						<div class="headerContainer_Right">
							{% block headerRight %}
							<div>
								<a href="/">Home</a> | 
								<a href="javascript:testAlert()">Item</a> | 
								<a href="About">About</a>
							</div>
							{% endblock %}
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div id="headerToBodyDivider"> &nbsp; </div>
	
	<div id="bodyWrapper">
	
		<div id="navigationBar" class="navigationBar">
			<div class="navigationBarContent">
				<a href="Debug">Debug</a>
				&nbsp;|&nbsp;
				<a href="ViewData">View Data</a>
			</div>
		</div>
		
		{% block content %}
		{% endblock %}
				
	</div>
	
	<div id="bodyToFooterDivider"> &nbsp; </div>
	<div id="push"> </div>
</div>

<div id="footerContainerWrapper">
	<div id="footerContentPane">
		<table>
			<tr> 
				<td valign="top" align="left" width="600">
					<div class="footerContentPaneLeft">
						{{ futureQuote }}
					</div>
				</td>
				<td align="middle" width="120">
					&nbsp;
				</td>
				<td align="right">
					{% block footer %}    
					<div class="footerContentPaneRight">
						<a href="javascript:testAlert()"><img src ="img/icons/save.png"></a>&nbsp;
						<a href="javascript:testAlert()"><img src ="img/icons/email.png"></a>&nbsp;
						<a href="javascript:testAlert()"><img src ="img/icons/backToTop.png"></a><br>
						{{ serverVersion }}
					</div>
					{% endblock %}
				</td>
			</tr>
		</table>
	</div>
</div>

</body>
</html>