{% extends "master.html" %}
{% block content %}	
<div id="fullContentPaneWrapper">
	<div class="fullContentPane_Content">
		<h5>
			{{ playerName }}
		</h5>
		<div style="padding-left:8px;padding-top:5px; display:block;">
			<span id="formattedHeight"></span>
			<script type="text/javascript">
				var finalText = parseInt({{ height }} / 12) + "'" + ({{ height }} % 12)+ '"';
				$('#formattedHeight').text(finalText + ',');
			</script>			
			<span id="formattedWeight"></span>
			<script type="text/javascript">
				var finalText = parseInt({{ weight }}) + " lbs";
				$('#formattedWeight').text(finalText);
			</script>
		</div>		
		<p>
			<table style="padding-left:8px; font-size:0.8em;" width="300" border="0" cellpadding="0" cellspacing="0">				
				<tr>
					<td>
						Born
					</td>
					<td>
						{{ born }}
					</td>
				</tr>
				<tr>
					<td>
						Career
					</td>
					<td>
						{{ playedFrom }} - {{ playedTo }}
					</td>
				</tr>				
				<tr>
					<td>
						Known Aliases
					</td>
					<td>
						{{ aliases }}
					</td>
				</tr>
				<tr>
					<td>
						Unique ID
					</td>
					<td>
						{{ uniqueId }}
					</td>
				</tr>
			</table>
		</p>		
		
		<style ype="text/css">
			#statsTable {
				text-align:center;
			}
			
			#headerRow {
				background-color:#999;
			}
			
			#statsTable tr:nth-child(odd) td {
				background-color:#ccc;
			}
			#statsTable tr:nth-child(even) td {
				background-color:#fff;								
			}
		</style>
		<p>
		<table id="statsTable" width="100%" cellpadding="4" cellspacing="0" border="0">
			<tr id="headerRow">
				<td>
					<a onmouseover="popup('Season');" href="#">Season</a>
				</td>
				<td>
					<a onmouseover="popup('Team Abbreviation');" href="#">Team</a>
				</td>
				<td>
					<a onmouseover="popup('Games Played');" href="#">GP</a>
				</td>
				<td>
					<a onmouseover="popup('Minutes Per Game (Average)');" href="#">MPG</a>
				</td>
				<td>
					<a onmouseover="popup('Points per game  (Average)');" href="#">P</a>
				</td>
				<td>
					<a onmouseover="popup('Field Goals Attempted (Average)');" href="#">FGA</a>
				</td>
				<td>
					<a onmouseover="popup('Field Goals Made (Average)');" href="#">FGM</a>
				</td>
				<td>
					<a onmouseover="popup('Field Goal Percentage (Average)');" href="#">FG%</a>
				</td>
				<td>
					<a onmouseover="popup('Three Pointers Made (Average)');" href="#">TPM</a>
				</td>
				<td>
					<a onmouseover="popup('Three Pointers Attempted (Average)');" href="#">TPA</a>
				</td>
				<td>
					<a onmouseover="popup('Three Pointer Percentage (Average)');" href="#">TP%</a>
				</td>
				<td>
					<a onmouseover="popup('Free Throws Made (Average)');" href="#">FTM</a>
				</td>
				<td>
					<a onmouseover="popup('Free Throws Attempted (Average)');" href="#">FTA</a>
				</td>
				<td>
					<a onmouseover="popup('Free Throws Percentage (Average)');" href="#">FT%</a>
				</td>
			</tr>
			
			{% for statRow in statsResults %}
				<tr>
					<td>
						{{ statRow.mSeasonName }}
					</td>
					<td>
						{{ statRow.mTeamName }}
					</td>
					<td>
						{{ statRow.mData[2] }}
					</td>
					<td>
						{{ statRow.mData[3] }}
					</td>
					<td>
						{{ statRow.mData[4] }}
					</td>
					<td>
						{{ statRow.mData[5] }}
					</td>
					<td>
						{{ statRow.mData[6] }}
					</td>
					<td id="percentageCol">
						{{ statRow.mFGP }}%
					</td>
					<td>
						{{ statRow.mData[8] }}
					</td>
					<td>
						{{ statRow.mData[9] }}
					</td>
					<td id="percentageCol">
						{{ statRow.mTPP }}%
					</td>
					<td>
						{{ statRow.mData[11] }}
					</td>
					<td>
						{{ statRow.mData[12] }}
					</td>				
					<td id="percentageCol">
						{{ statRow.mFTP }}%
					</td>
				</tr>
			{% endfor %}
		</table>
		</p>
		<br><hr><br>		
		<center>
		<iframe frameborder="0" height="400" id="graphFrame" marginheight="0" marginwidth="0" scrolling="no" src="/dom/d3Test.html?data=" width="850"></iframe>
		</center>
		<script type="text/javascript">
			var original = $('#graphFrame').attr('src');
			var json = '[{"title":"Revenue","subtitle":"US$, in thousands","ranges":[150,225,300],"measures":[220,270],"markers":[250]},{"title":"Profit","subtitle":"%","ranges":[20,25,30],"measures":[21,23],"markers":[26]},{"title":"Order Size","subtitle":"US$, average","ranges":[350,500,600],"measures":[100,320],"markers":[550]},{"title":"New Customers","subtitle":"count","ranges":[1400,2000,2500],"measures":[1000,1650],"markers":[2100]},{"title":"Satisfaction","subtitle":"out of 5","ranges":[3.5,4.25,5],"measures":[3.2,4.7],"markers":[4.4]}]';
			var base64json = encode64(json);
			var newUrl = original + base64json;
			$('#graphFrame').attr('src', newUrl);
		</script>		
	</div>
</div>
		
		
{% endblock %}