{% extends "master.html" %}
{% block content %}	
<div id="fullContentPaneWrapper">
	<div class="fullContentPane_Content">
		<h5>
			{{ playerName }}
		</h5>
		<div style="padding-left:8px;padding-top:5px; display:block;">
			<span id="formattedHeight"></span>
			<script type="text/javascript">
				var finalText = parseInt({{ height }} / 12) + "'" + ({{ height }} % 12)+ '"';
				$('#formattedHeight').text(finalText + ',');
			</script>			
			<span id="formattedWeight"></span>
			<script type="text/javascript">
				var finalText = parseInt({{ weight }}) + " lbs";
				$('#formattedWeight').text(finalText);
			</script>
		</div>		
		<p>
			<table style="padding-left:8px; font-size:0.8em;" width="300" border="0" cellpadding="0" cellspacing="0">				
				<tr>
					<td>
						Born
					</td>
					<td>
						{{ born }}
					</td>
				</tr>
				<tr>
					<td>
						Career
					</td>
					<td>
						{{ playedFrom }} - {{ playedTo }}
					</td>
				</tr>				
				<tr>
					<td>
						Known Aliases
					</td>
					<td>
						{{ aliases }}
					</td>
				</tr>
				<tr>
					<td>
						Unique ID
					</td>
					<td>
						{{ uniqueId }}
					</td>
				</tr>
			</table>
		</p>		
		
		<style ype="text/css">
			#statsTable {
				text-align:center;
			}
			
			#headerRow {
				background-color:#999;
			}
			
			#statsTable tr:nth-child(odd) td {
				background-color:#ccc;
			}
			#statsTable tr:nth-child(even) td {
				background-color:#fff;								
			}
		</style>
		<p>
		<table id="statsTable" width="100%" cellpadding="4" cellspacing="0" border="0">
			<tr id="headerRow">
				<td>
					Season
				</td>
				<td>
					Team
				</td>
				<td>
					GP
				</td>
				<td>
					MPG
				</td>
				<td>
					P
				</td>
				<td>
					FGA
				</td>
				<td>
					FGM
				</td>
				<td>
					FG%
				</td>
				<td>
					TPM
				</td>
				<td>
					TPA
				</td>
				<td>
					TP%
				</td>
				<td>
					FTM
				</td>
				<td>
					FTA
				</td>
				<td>
					FT%
				</td>
			</tr>
			
			{% for statRow in statsResults %}
			<tr>
				<td>
					{{ statRow.mSeasonName }}
				</td>
				<td>
					{{ statRow.mTeamName }}
				</td>
				<td>
					{{ statRow.mData[2] }}
				</td>
				<td>
					{{ statRow.mData[3] }}
				</td>
				<td>
					{{ statRow.mData[4] }}
				</td>
				<td>
					{{ statRow.mData[5] }}
				</td>
				<td>
					{{ statRow.mData[6] }}
				</td>
				<td>
					{{ statRow.mData[7] }}
				</td>
				<td>
					{{ statRow.mData[8] }}
				</td>
				<td>
					{{ statRow.mData[9] }}
				</td>
				<td>
					{{ statRow.mData[10] }}
				</td>
				<td>
					{{ statRow.mData[11] }}
				</td>
				<td>
					{{ statRow.mData[12] }}
				</td>
				
				<td>
					{{ statRow.mData[13] }}
				</td>
			</tr>
			{% endfor %}
		</table>
		</p>
	</div>
</div>
		
		
{% endblock %}