{% extends "master.html" %}
{% block content %}
<div id="fullContentPaneWrapper">
	<div class="fullContentPane_Content">
		<h1>
			Search Results
		</h1>
		<div class="alphabet">
			<center>
			<table width="90%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td><a href="/index/A/"><div>A</div></a></td>
				<td><a href="/index/B/"><div>B</div></a></td>
				<td><a href="/index/C/"><div>C</div></a></td>
				<td><a href="/index/D/"><div>D</div></a></td>
				<td><a href="/index/E/"><div>E</div></a></td>
				<td><a href="/index/F/"><div>F</div></a></td>
				<td><a href="/index/G/"><div>G</div></a></td>
				<td><a href="/index/H/"><div>H</div></a></td>
				<td><a href="/index/I/"><div>I</div></a></td>
				<td><a href="/index/J/"><div>J</div></a></td>
				<td><a href="/index/K/"><div>K</div></a></td>
				<td><a href="/index/L/"><div>L</div></a></td>
				<td><a href="/index/M/"><div>M</div></a></td>
				<td><a href="/index/N/"><div>N</div></a></td>
				<td><a href="/index/O/"><div>O</div></a></td>
				<td><a href="/index/P/"><div>P</div></a></td>
				<td><a href="/index/Q/"><div>Q</div></a></td>
				<td><a href="/index/R/"><div>R</div></a></td>
				<td><a href="/index/S/"><div>S</div></a></td>
				<td><a href="/index/T/"><div>T</div></a></td>
				<td><a href="/index/U/"><div>U</div></a></td>
				<td><a href="/index/V/"><div>V</div></a></td>
				<td><a href="/index/W/"><div>W</div></a></td>
				<td><a href="/index/X/"><div>X</div></a></td>
				<td><a href="/index/Y/"><div>Y</div></a></td>
				<td><a href="/index/Z/"><div>Z</div></a></td>
			</tr>
			</table>			
			</center>
		</div>
		<br>
		
		<p>
		Search results based off of query: {{ queryDescription }}
		</p>
		<br>
		{{ deepQueryParameters }}				
		
		<style type="text/css">
			#resultsTable {
				padding-left:15px;
				padding-right:15px;
			}
			#resultsTable tr td {
				padding:10px;
			}
			#resultsTable tr:nth-child(odd) td {
				background-color:#ccc;
			}
			#resultsTable tr:nth-child(even) td {
				background-color:#fff;								
			}
		</style>			
		
		<table id="resultsTable" width="100%" border="0" cellpadding="0" cellspacing="0">
		
			<tr style="border-bottom:2px solid #000;">
				<td width="75%">
					<b>Player Name<br>		
					<span style="font-size:0.8em;font-style:normal;">Birth Date</span>
					</b>
				</td>
				<td width="25%" align="right">
					<b>NBA Career
					</b>
				</td>
			</tr>
			{% for player in playerResult %}
			
				<tr>
					<td>
						<a href="/profile/{{ player[0] }}">
						{{ player[1] + ' ' + player[2] }}</a>
						<br>
						<span style="font-size:0.8em;font-style:normal;">{{ player[5] }}</span>
						</a>
					</td>
					<td align="right">
						{{ player[3] }} - {{ player[4] }}						
					</td>
				</tr>
			{% endfor %}			
		</table>		
	</div>
</div>
		
		
{% endblock %}