{% extends "master.html" %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		pageLoad_viewData();
	});
</script>
	
	
<div id="fullContentPaneWrapper">
	<div class="fullContentPane_Content">
		<h1>
			View Data from Database
		</h1>
		<div class="alphabet">
			<center>
			<table width="90%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td><a href="/index/A/"><div>A</div></a></td>
				<td><a href="/index/B/"><div>B</div></a></td>
				<td><a href="/index/C/"><div>C</div></a></td>
				<td><a href="/index/D/"><div>D</div></a></td>
				<td><a href="/index/E/"><div>E</div></a></td>
				<td><a href="/index/F/"><div>F</div></a></td>
				<td><a href="/index/G/"><div>G</div></a></td>
				<td><a href="/index/H/"><div>H</div></a></td>
				<td><a href="/index/I/"><div>I</div></a></td>
				<td><a href="/index/J/"><div>J</div></a></td>
				<td><a href="/index/K/"><div>K</div></a></td>
				<td><a href="/index/L/"><div>L</div></a></td>
				<td><a href="/index/M/"><div>M</div></a></td>
				<td><a href="/index/N/"><div>N</div></a></td>
				<td><a href="/index/O/"><div>O</div></a></td>
				<td><a href="/index/P/"><div>P</div></a></td>
				<td><a href="/index/Q/"><div>Q</div></a></td>
				<td><a href="/index/R/"><div>R</div></a></td>
				<td><a href="/index/S/"><div>S</div></a></td>
				<td><a href="/index/T/"><div>T</div></a></td>
				<td><a href="/index/U/"><div>U</div></a></td>
				<td><a href="/index/V/"><div>V</div></a></td>
				<td><a href="/index/W/"><div>W</div></a></td>
				<td><a href="/index/X/"><div>X</div></a></td>
				<td><a href="/index/Y/"><div>Y</div></a></td>
				<td><a href="/index/Z/"><div>Z</div></a></td>
			</tr>
			</table>			
			</center>
		</div>
		<br>
		<p>
			<div id="staggerContentPaneWrapper">
				<table width="100%">
					<tr>
						<td valign="top">
							<div class="staggerContentPane_Min">
								<h1>
									Search Types
								</h1>
								<p>
									<ul>
									<li><a href="#" id="searchType_byPlayer" onclick="changeSearchContent('By Player')">By Player</a></li>
									<li><a href="#" id="searchType_default" onclick="changeSearchContent('By Y')">By Y</a></li>
									<li><a href="#" id="searchType_default" onclick="changeSearchContent('By Z')">By Z</a></li>
									</ul>
								</p>
								
								<h1>
									View All Data
								</h1>
								<p>
									<ul>
									<li><a href="#" id="viewAll_all" onclick="changeSearchContent('View All Players')">View All Players</a></li>
									<li><a href="#" id="view_all_letter" onclick="changeSearchContent('View All Players By Letter')">View All Players By Letter</a></li>
									</ul>
								</p>
							</div>
						</td>
						<td width="10px"> &nbsp; </td>
						<td valign="top">
							<div class="staggerInnerContentPane_Max">
								<h1>
									<div id="searchTypeTitle">Please Select a Search Type</div>									
								</h1>
								<p id="searchTypeContent">
									Please Select a Search Type to see options
								</p>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</p>
	</div>
</div>
		
		
{% endblock %}